<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <!-- Favicon -->
    <link rel="icon" href="images/smiley-icecream.jpg" />
    <title>Ice Cream Order Form</title>
    <script src="js/ice-cream.js" defer></script>
  </head>
  <body>
    <div class="container">
      <form id="ice-cream-form" action="#" method="get">
        <h2>Ice Cream Order Form</h2>

        <!-- Personal Information -->
        <fieldset>
          <legend>Personal Information</legend>

          <span id="err-name" class="error">Name cannot be empty</span>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" />

          <span id="err-email" class="error">email cannot be empty!</span>
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" />
        </fieldset>

        <!-- Order Details -->
        <fieldset>
          <legend>Order Details</legend>
          <label for="flavor">Choose your flavor:</label>
          <select id="flavor" name="flavor">
            <option value="none" selected disabled>
              -- Please choose a flavor --
            </option>
            <option>Vanilla</option>
            <option>Chocolate</option>
            <option>Strawberry</option>
            <option>Mint</option>
          </select>
          <span id="err-flavor" class="error">Please choose a flavor</span>

          <!-- Choose Your Cone -->
          <label>Choose your cone:</label>
          <div class="options">
            <input type="radio" id="waffle" name="cone" value="Waffle Cone" />
            <label for="waffle">Waffle Cone</label>
            <input type="radio" id="sugar" name="cone" value="Sugar Cone" />
            <label for="sugar">Sugar Cone</label>
            <input type="radio" id="cup" name="cone" value="Cup" />
            <label for="cup">Cup</label>
            <span id="err-method" class="error">Please choose a cone </span>
          </div>

          <!-- Toppings -->
          <label>Toppings:</label>
          <div class="options">
            <input
              type="checkbox"
              id="sprinkles"
              name="toppings"
              value="Sprinkles"
            />
            <label for="sprinkles">Sprinkles</label>
            <input type="checkbox" id="nuts" name="toppings" value="Nuts" />
            <label for="nuts">Nuts</label>
            <input type="checkbox" id="cherry" name="toppings" value="Cherry" />
            <label for="cherry">Cherry</label>
            <input
              type="checkbox"
              id="whippedcream"
              name="toppings"
              value="Whipped Cream"
            />
            <label for="whippedcream">Whipped Cream</label>
          </div>

          <label for="comments">Additional comments:</label>
          <textarea id="comments" name="comments" rows="3"></textarea>
        </fieldset>

        <button type="submit">Submit Order</button>
      </form>

      <!-- Ice Cream Image -->
      <img src="images/anime-icecream.jpg" alt="Ice-Cream" />
    </div>
  </body>
</html>
